<script>
  //RICHIESTE STATO 1
  //PRENOTAZIONI ACCETTATE STATO 2
  $(document).ready(() => {
    /* Vars */
    // Data

    const inserzioni = JSON.parse("<%= inserzioni %>".replace(/&#34;/g, '"'));
    const prenotazioni = JSON.parse(
      "<%= prenotazioni %>".replace(/&#34;/g, '"')
    );
    // Variabili
    const immagini = {},
      imgToDel = [],
      imgToSave = [];
    let folderPath = "",
      richieste = 0,
      accettate = 0,
      rendQuest = 0,
      rendTur = 0,
      checkin,
      checkout,
      checkinDate,
      checkoutDate,
      notti,
      guadagniStimati = 0,
      guadagniAttuali = 0,
      citta = [],
      prenPerCitta = [],
      rendiconto,
      questuraPrens = [];

    /* ON RELOAD */
    bsCustomFileInput.init();
    if ($(window).width() < "448") {
      $("#visualizza-tab").text("Visualizza");
      $("#aggiungi-tab").text("Aggiungi");
    } else {
      $("#visualizza-tab").text("Visualizza inserzioni");
      $("#aggiungi-tab").text("Aggiungi inserzione");
    }

    if ($(window).width() < "807") {
      $("#prenotazioni-tab").text("Visualizza");
      $("#contattaQ-tab").text("Questura");
      $("#contattaT-tab").text("Turismo");
    } else {
      $("#prenotazioni-tab").text("Visualizza prenotazioni");
      $("#contattaQ-tab").text("Contatta questura");
      $("#contattaT-tab").text("Contatta ufficio del turismo");
    }

    $("#v-pills-prenotazioni-tab").on("click", function () {
      $(this).html("Gestione prenotazioni");
    });

    $("#cittaSelect, #cittaSelectQuestura").val("none");

    $("#customFileModal").val("");

    $(".ins-val").text(inserzioni.length);
    prenotazioni.forEach((prenotazione) => {
      if (prenotazione.questuraFlag === 0) {
        rendQuest += 1;
      }

      if (prenotazione.turismoFlag === 0) {
        rendTur += 1;
      }
    });
    $(".quest-val").text(rendQuest);
    $(".tur-val").text(rendTur);

    $("input, textarea, input[type=file]").val("");
    /* ------------------------------------------------- */

    /* TOOLTIP */
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    /* INPUT FILE */
    $("#inputFile").on("change", () => {
      $("#inputFileLabel").text(() => {
        return "ciao";
      });
    });

    /* DATEPICKER */
    $("#inputInit, #inputFin, #inputInitModal, #inputFinModal").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
      startDate: new Date(),
    });

    /* CHECKBOXES */
    // initial value
    $("#casa").prop("checked", true);
    $("#bnb").prop("checked", false);

    $("#casa, #casaModal").on("click", function () {
      if ($(this).prop("id") === "casa") {
        if ($("#bnb").prop("checked")) {
          $("#bnb").prop("checked", false);
        } else {
          $(this).prop("checked", true);
        }
      } else {
        if ($("#bnbModal").prop("checked")) {
          $("#bnbModal").prop("checked", false);
        } else {
          $(this).prop("checked", true);
        }
      }
    });
    $("#bnb, #bnbModal").on("click", function () {
      if ($(this).prop("id") === "bnb") {
        if ($("#casa").prop("checked")) {
          $("#casa").prop("checked", false);
        } else {
          $(this).prop("checked", true);
        }
      } else {
        if ($("#casaModal").prop("checked")) {
          $("#casaModal").prop("checked", false);
        } else {
          $(this).prop("checked", true);
        }
      }
    });
    /* ------------------------------------------------- */

    /* VISUALIZZA INSERZIONI */
    inserzioni.forEach((inserzione, index) => {
      immagini[`${index}`] = inserzione.galleryPath.split(",");
    });
    if (inserzioni.length === 0) {
      $("#visualizza").append(`
          <div class="row justify-content-center align-items-center">
            <div class="col-10">
              <p class="text-justify">
                Non hai ancora nessuna inserzione. Vai su <u>Aggiungi inserzione</u> per iniziare!!
                <br>
              </p>
              <div class="row">
                <div class="col-12" style="display:flex; justify-content:center">
                  <img src="/assets/images/notFound.png" style="width:50%; opacity:.35; margin-top: 30px">
                </div>
              </div>
            </div>
          </div>
        `);
    } else {
      inserzioni.forEach((inserzione, index) => {
        console.log(immagini[index][0]);
        $("#visualizza").append(`
          <div class="row">
            <div class="col-12">
              <div class="card add-margin">
                <div class="card-body no-padding">
                  <div class="row">
                    <div class="col-md-12 col-lg-4">
                      <div class="card-i" style="background-image: url(/uploads/fotoInserzione${
                        immagini[index][0]
                      }); background-size:cover; background-position:bottom; width:100%; height: 200px"></div>
                    </div>
                    <div class="col-md-12 col-lg-8 add-padding">
                      <b>${inserzione.nome_inserzione}</b>
                      <p>
                        <i>${
                          inserzione.citta[0].toUpperCase() +
                          inserzione.citta.slice(1)
                        }, ${inserzione.indirizzo}</i>
                        <br>
                        ${inserzione.inizioDisponibilita}&nbsp;
                        ${inserzione.fineDisponibilita}
                        <br>
                        ${inserzione.n_ospiti} ospiti,&nbsp;
                        ${inserzione.prezzo_base}&euro; x notte
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer inserzione-footer">
                  <button
                    id="${index}"
                    inserzione="${index}"
                    class="btn btn-primary mod"
                  >
                    Modifica
                  </button>
                  <button
                    inserzione="${inserzione.id_inserzione}"
                    class="btn btn-danger del"
                  >
                    Elimina
                  </button>
                </div>
              </div>
            </div>
          </div>
        `);

        // Modifica inserzione
        $(`button#${index}`).on("click", function () {
          $("#insMod")
            .attr("index", index)
            .attr("inserzione", inserzione.id_inserzione)
            .on("shown.bs.modal", function () {
              // Salvo il path della cartella
              $("input[id$='Modal']").removeClass("is-invalid");
              folderPath =
                immagini[index][0].split("/")[2] +
                "/" +
                immagini[index][0].split("/")[3];
              console.log(folderPath);

              // Compilo i campi dell'inserzione con i valori attuali
              $("#inputTitoloModal").val(inserzione.nome_inserzione);
              $("#inputCityModal").val(inserzione.citta);
              $("#inputInitModal").val(inserzione.inizioDisponibilita);
              $("#inputFinModal").val(inserzione.fineDisponibilita);
              $("#inputOspitiModal").val(inserzione.n_ospiti);
              $("#inputDescModal").val(inserzione.descrizione);
              $("#inputPriceModal").val(inserzione.prezzo_base);
              $("#inputTassaModal").val(inserzione.tassa_soggiorno);
              // Dato che l'indirizzo è nel formato "Via Roma 18"
              // devo prelevare il numero civico poi prendere il resto
              // della stringa.

              // Divido la stringa in base agli spazi
              // ["Via", "Roma", "18"]
              const ind = inserzione.indirizzo.split(" ");
              $("#inputNumModal").val(ind[ind.length - 1]);

              // Rimuovo il numero civico
              // ["Via", "Roma"]
              ind.pop();

              // Concateno i valori
              // "Via Roma"
              const via = ind.reduce((x, y) => x + " " + y);
              $("#inputAddressModal").val(via);

              // Inserisco un avviso sul campo per inserire le immagini
              $("#customFileModalLabel").text(
                `Solo altre ${10 - immagini[index].length}`
              );

              // TODO
              /* $("#customFileModalLabel").on("click", function () {
                console.log($(this).prop("files"));
              }); */

              /* Attivo anche le checkbox dei servizi in modo corretto */
              let serviziKeys = Object.keys(inserzione.servizi);
              for (let j = 1; j < serviziKeys.length - 1; j += 1) {
                let servizio = serviziKeys[j].slice(
                  0,
                  serviziKeys[j].length - 4
                );
                if (inserzione.servizi[serviziKeys[j]]) {
                  $(`#${servizio}Modal`).prop("checked", true);
                } else {
                  $(`#${servizio}Modal`).prop("checked", false);
                }
              }
              console.log(immagini[index]);
              if (immagini[index][0] !== "") {
                $(".no-imgs").remove();
                for (let i = 0; i < immagini[index].length; i += 1) {
                  $(`.img${i}`)
                    .css({
                      display: "flex",
                      "background-image": `url("/uploads/fotoInserzione${immagini[index][i]}")`,
                      "background-size": "cover",
                      "background-position": "bottom",
                      height: "200px",
                      opacity: 1,
                    })
                    .attr("path", immagini[index][i])
                    .on("click", function () {
                      if (imgToDel.length < immagini[index].length - 1) {
                        imgToDel.push($(this).attr("path"));
                        console.log(imgToDel);
                        $(this).animate({ opacity: 0 }, 125, function () {
                          $(this).css({
                            "background-image": "none",
                            display: "none",
                          });
                        });
                      } else {
                        $(this).off("click");
                        alert("Non puoi eliminare tutte le foto");
                      }
                    });
                }
              } else {
                if ($(".no-imgs").length === 0) {
                  $(".img-preview-container").append(
                    `
                    <div id="no-imgs">
                      <img src="/assets/images/notFound.png" style="width:30%; opacity:0.125">
                    </div>
                  `
                  );
                }
              }
            })
            .on("hidden.bs.modal", function () {
              for (let i = 0; i < immagini[index].length; i += 1) {
                $(`.img${i}`).removeAttr("style path").off("click");
                $("#customFileModalLabel").off("click");
                $("#insMod").off("show.bs.modal hidden.bs.modal");
              }
              while (imgToDel.length > 0) {
                imgToDel.pop();
                console.log(imgToDel);
              }
            })
            .modal("show");
        });
      });
    }
    /* ------------------------------------------------- */

    /* CONTROLLI */
    /* $("input").each((index, element) => {
      $(element)
    }); */

    /* ------------------------------------------------- */

    /* CONTROLLI */
    $(".inputadd").on("change focusout input", function () {
      if ($(this).val() === "") {
        $(this).addClass("is-invalid");
      } else {
        $(this).removeClass("is-invalid");
      }
    });
    // Inizio disponibilità
    $("#inputInit").on("change", function () {
      if ($("#inputFin").val() !== "") {
        const checkin = $(this).val();
        const checkout = $("#inputFin").val();
        console.log(checkin, checkout);
        const checkinDate = new Date(checkin);
        const checkoutDate = new Date(checkout);
        if (checkoutDate < checkinDate) {
          $("#inputFin").datepicker("update", checkin);
        }
      }
      $("#inputFin").focus();
    });
    // Fine disponibilità
    $("#inputFin").on("change", () => {
      const checkin = $("#inputInit").val();
      const checkout = $("#inputFin").val();

      // Controllo se il campo check in è vuoto
      if (checkin === "") {
        $("#inputFin").val("");
        $("#inputInit").focus();
      } else {
        const checkinDate = new Date(checkin);
        const checkoutDate = new Date(checkout);

        if (checkoutDate < checkinDate) {
          $("#inputFin").datepicker("update", checkin);
        }
      }
    });
    // Input file
    $("input[type=file]").on("change", function () {
      if ($(this).prop("files").length === 0) {
        $(this).addClass("is-invalid");
      } else {
        $(this).removeClass("is-invalid");
      }
    });

    // MODAL
    $("input[id$='Modal'], textarea[id$='Modal']").on(
      "change focusout input",
      function () {
        if (
          $(this).val() === "" &&
          $(this).prop("type") !== "file" &&
          $(elem).prop("type") !== "checkbox"
        ) {
          $(this).addClass("is-invalid");
        } else {
          $(this).removeClass("is-invalid");
        }
      }
    );
    // Inizio disponibilità
    $("#inputInitModal").on("change", function () {
      if ($("#inputFinModal").val() !== "") {
        const checkin = $(this).val();
        const checkout = $("#inputFinModal").val();
        console.log(checkin, checkout);
        const checkinDate = new Date(checkin);
        const checkoutDate = new Date(checkout);
        if (checkoutDate < checkinDate) {
          $("#inputFinModal").datepicker("update", checkin);
        }
      }
      $("#inputFinModal").focus();
    });
    // Fine disponibilità
    $("#inputFinModal").on("change", () => {
      const checkin = $("#inputInitModal").val();
      const checkout = $("#inputFinModal").val();

      // Controllo se il campo check in è vuoto
      if (checkin === "") {
        $("#inputInitModal").val("");
        $("#inputFinModal").focus();
      } else {
        const checkinDate = new Date(checkin);
        const checkoutDate = new Date(checkout);

        if (checkoutDate < checkinDate) {
          $("#inputFinModal").datepicker("update", checkin);
        }
      }
    });
    // Input file
    $("input[type=file]").on("change", function () {
      if ($(this).prop("files").length === 0) {
        $(this).addClass("is-invalid");
      } else {
        $(this).removeClass("is-invalid");
      }
    });
    /* ------------------------------------------------- */

    /* AGGIUNGI INSERZIONE */
    $("form").on("submit", (e) => {
      e.preventDefault();
      let flag = 1;

      $(".inputadd, #inputInit, #inputFin").each((index, elem) => {
        if ($(elem).val() === "" || $(elem).hasClass("is-invalid")) {
          $(elem).addClass("is-invalid");
          flag = 0;
        } else {
          $(elem).removeClass("is-invalid");
        }
      });
      console.log(flag);
      if (!flag) {
        return;
      }

      let servizi = {};
      $("input[type=checkbox]").each((index, element) => {
        if ($(element).prop("checked")) {
          servizi[$(element).prop("id")] = 1;
        } else {
          servizi[$(element).prop("id")] = 0;
        }
      });

      const formData = new FormData();
      const images = $("input[type=file][multiple].inputFileNormal").prop(
        "files"
      );

      for (let i = 0; i < images.length; i++) {
        formData.append("gallery", images[i]);
      }

      const ins = JSON.stringify({
        nome: $("#inputTitolo").val(),
        citta: $("#inputCity").val(),
        inizioDisp: $("#inputInit").val(),
        fineDisp: $("#inputFin").val(),
        nospiti: $("#inputOspiti").val(),
        desc: $("#inputDesc").val(),
        indirizzo: $("#inputAddress").val() + " " + $("#inputNum").val(),
        prezzo: $("#inputPrice").val(),
        tassa: $("#inputTassa").val(),
        servizi,
      });

      formData.append("inserzione", ins);

      fetch(`/host/crea_ins/fotoInserzione/<%= user.id %>/${Date.now()}`, {
        method: "PUT",
        body: formData,
      })
        .then(async (res) => {
          const response = await res.json();
          if (response.success) {
            console.log("Caricamento completato!");
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    });
    /* ------------------------------------------------- */

    /* MODIFICA INSERZIONE */
    // Array che contiene i nomi delle immagini che vanno eliminate

    $("#saveChanges").on("click", () => {
      let flag = 1;
      $("input[id$='Modal'], textarea[id$='Modal']").each((index, elem) => {
        if (
          $(elem).val() === "" &&
          $(elem).prop("type") !== "file" &&
          $(elem).prop("type") !== "checkbox"
        ) {
          $(elem).addClass("is-invalid");
          flag = 0;
        } else {
          $(elem).removeClass("is-invalid");
        }
      });

      if (!flag) {
        return;
      }
      // Sottraggo dalla lista di tutte le immagini, quelle rimosse
      // dall'utente
      const imgToSave = immagini[$("#insMod").attr("index")].filter((x) => {
        return !imgToDel.includes(x);
      });

      // Creo un arrai per i servizi
      let servizi = {};
      $(`input[type=checkbox][id$="Modal"]`).each((index, element) => {
        if ($(element).prop("checked")) {
          servizi[$(element).prop("id")] = 1;
        } else {
          servizi[$(element).prop("id")] = 0;
        }
      });

      const formData = new FormData();
      const images = $("input[type=file][multiple][id$='Modal']").prop("files");

      for (let i = 0; i < images.length; i++) {
        formData.append("gallery", images[i]);
      }

      const insModal = JSON.stringify({
        nome: $("#inputTitoloModal").val(),
        citta: $("#inputCityModal").val(),
        inizioDisp: $("#inputInitModal").val(),
        fineDisp: $("#inputFinModal").val(),
        nospiti: $("#inputOspitiModal").val(),
        desc: $("#inputDescModal").val(),
        indirizzo:
          $("#inputAddressModal").val() + " " + $("#inputNumModal").val(),
        prezzo: $("#inputPriceModal").val(),
        tassa: $("#inputTassaModal").val(),
        servizi,
        imgToSave,
        imgToDel,
        id_ins: $("#insMod").attr("inserzione"),
      });
      console.log(insModal);

      formData.append("inserzione", insModal);
      console.log(folderPath);

      fetch(
        `/host/modifica/fotoInserzione/<%= user.id %>/${
          folderPath.split("/")[0]
        }`,
        {
          method: "PUT",
          body: formData,
        }
      )
        .then(async (res) => {
          const response = await res.json();
          if (response.success) {
            console.log("Caricamento completato!");
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    });

    /* ------------------------------------------------- */

    /* ELIMINA INSERZIONE */
    $(".del").on("click", function () {
      $(".confirm").attr("inserzione", $(this).attr("inserzione"));
      $("#confirmDel").modal("show");
    });
    $(".confirm").on("click", function () {
      const id_inserzione = $(this).attr("inserzione");
      fetch("/host/delete_ins", {
        method: "DELETE",
        body: JSON.stringify({ id_inserzione }),
        headers: { "Content-Type": "application/json" },
      })
        .then(async (res) => {
          const response = await res.json();
          if (response.success) {
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    });

    /* ------------------------------------------------- */

    /* GESTIONE PRENOTAZIONI */
    console.log(prenotazioni, inserzioni);
    prenotazioni.forEach((prenotazione, index) => {
      // Variabili per il calcolo dei guadagni
      /* checkin = prenotazione.check_in;
      checkout = prenotazione.check_out;
      checkinDate = new Date(checkin);
      checkoutDate = new Date(checkout);

      if (checkin === checkout) {
        notti = 1;
      } else {
        notti = (checkoutDate - checkinDate) / (1000 * 3600 * 24);
      } */

      if (prenotazione.stato_prenotazione === 1) {
        // Contatore di richieste
        richieste += 1;
        $("#req").append(
          `
            <div class="card req-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <b>${prenotazione.inserzione.nome_inserzione}</b>
                  </div>
                  <div class="col-12">
                    ${prenotazione.utente.nome}&nbsp;${
            prenotazione.utente.cognome
          }
                  </div>
                  <div class="col-12">
                    <a href="mailto:${prenotazione.utente.email}"><i>${
            prenotazione.utente.email
          }</i></a>
                  </div>
                  <div class="col-12">
                    dal: <b>${prenotazione.check_in}</b>
                  </div>
                  <div class="col-12">
                    al: <b>${prenotazione.check_out}</b>
                  </div>
                  <div class="col-12">
                    ${prenotazione.n_ospiti_pren} ${
            prenotazione.n_ospiti_pren === 1 ? "ospite" : "ospiti"
          }
                  </div>
                </div>
                <hr />
                <div clas="row justify-content-center">
                  <div class="col accDen">
                    <button indice="${index}" class="btn btn-success accept">&check;</button>
                    <button indice="${index}" class="btn btn-danger deny">&times;</button>
                  </div>
                </div>
              </div>
            </div>
          `
        );

        // PULSANTI
        // accetta
        $(`.accept[indice=${index}]`).on("click", function () {
          fetch(`/host/accetta/${prenotazione.id_prenotazione}`, {
            method: "get",
          })
            .then(async (res) => {
              const response = await res.json();
              if (response.success) {
                window.location.reload();
              }
            })
            .catch((err) => console.log(err));
        });
        // rifiuta
        $(`.deny[indice=${index}]`).on("click", function () {
          fetch(`/host/rifiuta/${prenotazione.id_prenotazione}`, {
            method: "get",
          })
            .then(async (res) => {
              const response = await res.json();
              if (response.success) {
                window.location.reload();
              }
            })
            .catch((err) => console.log(err));
        });
      } else if (prenotazione.stato_prenotazione >= 2) {
        // Guadagni stimati
        if (new Date(prenotazione.check_out) < new Date()) {
          // Il soggiorno è iniziato o già terminato
          guadagniAttuali += prenotazione.prezzo_finale;

          $("#pren").append(
            `
            <div class="card pren-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <b>${prenotazione.inserzione.nome_inserzione}</b>
                  </div>
                  <div class="col-12">
                    ${prenotazione.utente.nome}&nbsp;${
              prenotazione.utente.cognome
            }, <a href="mailto:${prenotazione.utente.email}"><i>${
              prenotazione.utente.email
            }</i></a>
                  </div>
                  <div class="col-12">
                    <b>${prenotazione.check_in}</b> &#8594; <b>${
              prenotazione.check_out
            }</b>, ${prenotazione.n_ospiti_pren} ${
              prenotazione.n_ospiti_pren === 1 ? "ospite" : "ospiti"
            }
                  </div>
                  <div class="col-12 pren-btns">
                    <button indice="${index}" class="btn btn-primary contact"><i class="fas fa-comment-alt"></i> Contatta</button>
                  </div>
                </div>
              </div>
            </div>
          `
          );
        } else {
          guadagniStimati += prenotazione.prezzo_finale;

          $("#pren").append(
            `
            <div class="card pren-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <b>${prenotazione.inserzione.nome_inserzione}</b>
                  </div>
                  <div class="col-12">
                    ${prenotazione.utente.nome}&nbsp;${
              prenotazione.utente.cognome
            }, <a href="mailto:${prenotazione.utente.email}"><i>${
              prenotazione.utente.email
            }</i></a>
                  </div>
                  <div class="col-12">
                    <b>${prenotazione.check_in}</b> &#8594; <b>${
              prenotazione.check_out
            }</b>, ${prenotazione.n_ospiti_pren} ${
              prenotazione.n_ospiti_pren === 1 ? "ospite" : "ospiti"
            }
                  </div>
                  <div class="col-12 pren-btns">
                    <div class="row">
                      <div class="col pren-btns-cont">
                        <button indice="${index}" class="btn btn-primary contact"><i class="fas fa-comment-alt"></i> Contatta</button>
                        <button indice="${index}" class="btn btn-warning identify"><i class="fas fa-user"></i> identifica</button>
                        <button indice="${index}" class="btn btn-danger cancel">&times; Annulla</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `
          );

          if (prenotazione.stato_prenotazione === 3) {
            $(`.identify[indice=${index}]`).remove();
            citta.push(prenotazione.inserzione.citta);
          }

          accettate += 1;
        }

        // PULSANTI
        // Contatta
        $(`.contact[indice=${index}]`).on("click", function () {
          $("#contactModal")
            .attr("indice", index)
            .on("show.bs.modal", function () {
              $(".confirmM")
                .attr("indice", index)
                .on("click", function () {
                  let contact = {
                    user_email: prenotazione.utente.email,
                    message: $("#msg").val(),
                    titolo: prenotazione.inserzione.nome_inserzione,
                  };

                  contact = JSON.stringify(contact);

                  fetch(`/host/contact/${prenotazione.id_prenotazione}`, {
                    method: "post",
                    body: contact,
                    headers: { "Content-Type": "application/json" },
                  })
                    .then(async (res) => {
                      const response = await res.json();
                      if (response.success) {
                        window.location.reload();
                      }
                    })
                    .catch((err) => console.log(err));
                });
            })
            .on("hidden.bs.modal", function () {
              $(this).off("show.bs.modal hidden.bs.modal").removeAttr("indice");
              $(".confirmM").off("click").removeAttr("indice");
              $("#msg").val("");
            })
            .modal("show");
        });

        // Annulla
        $(`.cancel[indice=${index}]`).on("click", function () {
          $("#confirmCanc")
            .attr("indice", index)
            .on("show.bs.modal", function () {
              $(".confirmC")
                .attr("indice", index)
                .on("click", function () {
                  fetch(`/host/delete_pren/${prenotazione.id_prenotazione}`, {
                    method: "DELETE",
                    headers: { "Content-Type": "application/json" },
                  })
                    .then(async (res) => {
                      const response = await res.json();
                      if (response.success) {
                        window.location.reload();
                      }
                    })
                    .catch((err) => console.log(err));
                });
            })
            .on("hidden.bs.modal", function () {
              $(this).off("show.bs.modal hidden.bs.modal").removeAttr("indice");
              $(".confirmM").off("click").removeAttr("indice");
              $("#msg").val("");
            })
            .modal("show");
        });

        // Identifica ospiti
        $(`.identify`).on("click", () => {
          window.location.href = `/host/identifica-ospiti?id=${prenotazione.id_prenotazione}&ospiti=${prenotazione.n_ospiti_pren}`;
        });
        /* $(`.cancel[indice=${index}]`).on("click", function () {
          fetch(`/host/delete_pren/${prenotazione.id_prenotazione}`, {
            method: "delete",
          })
            .then(async (res) => {
              const response = await res.json();
              if (response.success) {
                window.location.reload();
              }
            })
            .catch((err) => console.log(err));
        }); */
      } /*  else {
        $("#pren").append(
          `
            <div class="card pren-card" style="background-color:rgba(0,0,0,0.3)">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-danger">
                    <b><i>Rifiutata/annullata</i></b>
                  </div>
                  <div class="col-12">
                    ${prenotazione.utente.nome}&nbsp;${
            prenotazione.utente.cognome
          }, <a href="mailto:${prenotazione.utente.email}"><i>${
            prenotazione.utente.email
          }</i></a>
                  </div>
                  <div class="col-12">
                    <b>${prenotazione.check_in}</b> &#8594; <b>${
            prenotazione.check_out
          }</b>, ${prenotazione.n_ospiti_pren} ${
            prenotazione.n_ospiti_pren === 1 ? "ospite" : "ospiti"
          }
                  </div>
                </div>
              </div>
            </div>
          `
        );
      } */
    });

    $(".ric-val").text(richieste);
    $(".pre-val").text(accettate);

    /* HOST DASHBOARD */
    $(".guadagni-value").append(
      `
      <i class="fas fa-coins"></i>&nbsp;&nbsp;<span class="card-val"><b>${guadagniAttuali}&nbsp;&euro;</b></span>
      `
    );
    $(".previsti-value").append(
      `<i class="fas fa-chart-line"></i>&nbsp;&nbsp;<span class="card-val"><b>${guadagniStimati}&nbsp;&euro;</b></span>`
    );
    $(".rendiconto-value").append(
      `<i class="fas fa-user-clock"></i>&nbsp;&nbsp;<span class="card-val"><b><%= user.ultimo_rendiconto %></b></span>`
    );

    $(".attuali").on("click", () => {
      $(".guadagni-hidden").slideToggle("fast");
    });
    $(".attesi").on("click", () => {
      $(".attesi-hidden").slideToggle("fast");
    });
    $(".ultimo-rendiconto").on("click", () => {
      $(".rendiconto-hidden").slideToggle("fast");
    });
    /* -------------- */

    /* QUESTURA/TURISMO select*/
    citta = new Set(citta);
    citta.forEach((elem, index) => {
      $("#cittaSelect, #cittaSelectQuestura").append(
        `
        <option value="${elem.toLowerCase()}">${elem}</option>
        `
      );
    });
    /* -------------- */

    /* NESSUNA PRENOTAZIONI */
    if ($(".req-card").length === 0) {
      $("#req").append(
        `
        <div
          class="row justify-content-center"
          style="margin-top: 45px; margin-bottom: 30px"
        >
          <img
            style="
            width: 65%;
            opacity: 0.25;
            align-self: center;
            "
            src="/assets/images/nessuna_richiesta.png"
          />
        </div>
        `
      );
    } else {
      // Inserisco un indicatore nella tab
      $("#v-pills-prenotazioni-tab").html(
        `Gesitone prenot...&nbsp;&nbsp;<span style="border-radius:50%" class="badge badge-danger">${richieste}</span>`
      );
    }

    if ($(".pren-card").length === 0) {
      $("#pren").append(
        `
        <div
          class="row justify-content-center"
          style="margin-top: 45px; margin-bottom: 30px"
        >
          <img
            style="
            width: 45%;
            opacity: 0.25;
            align-self: center;
            "
            src="/assets/images/nessuna_prenotazione.png"
          />
        </div>
        `
      );
    }
    /* -------------- */

    /* CONTATTA QUESTURA */
    $("#cittaSelectQuestura").on("change", function () {
      $(".pren-card-questura-container").remove();
      while (prenPerCitta.length > 0) {
        prenPerCitta.pop();
      }
      prenotazioni.forEach((prenotazione, index) => {
        if (
          prenotazione.inserzione.citta.toLowerCase() === $(this).val() &&
          prenotazione.stato_prenotazione === 3 &&
          prenotazione.questuraFlag === 0
        ) {
          prenPerCitta.push(prenotazione);
          $("#schedine").append(
            `
            <div index="${index}" class="row pren-card-questura-container">
              <div class="col-12">
                <input index="${index}" type="checkbox" class="prenCheck">
                <div index="${index}" class="card pren-card-questura">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-4">
                        ${prenotazione.inserzione.nome_inserzione}
                      </div>
                      <div class="col-sm-12 col-md-4">
                        ${prenotazione.check_in}
                      </div>
                      <div class="col-sm-12 col-md-4">
                        ${prenotazione.check_out}
                      </div>
                    </div>
                    <div class="row">
                      <div index=${index} class="col-12 guest-list">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            `
          );
          prenotazione.ospiti.forEach((ospite) => {
            $(`.guest-list[index=${index}]`).append(
              `
              <div class="card guest-card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 col-md-3">
                      ${ospite.nome}
                    </div>
                    <div class="col-sm-6 col-md-3">
                      ${ospite.cognome}
                    </div>
                    <div class="col-sm-6 col-md-3">
                      ${ospite.data_nascita}
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <i>${ospite.isEsente ? "Esente" : "Non Esente"}</i>
                    </div>
                  </div>
                </div>
              </div>
              `
            );
          });
          $(`.pren-card-questura[index=${index}]`).on("click", () => {
            $(`.guest-list[index=${index}]`).slideToggle("slow");
          });

          if ($(".questBtn").length === 0) {
            $("#contattaQ").append(
              `
              <div class="row justify-content-center questBtn">
                <div
                  class="col-12"
                  id="documenti-container"
                >
                <label id="documenti-upload" class="btn btn-warning">
                  <input
                    type="file"
                    name="Carica"
                    id="documenti"
                    multiple
                  />
                    Carica&nbsp;&nbsp;
                </label>
                </div>
                <div class="col-12 text-danger inputDocHelp" style="margin-bottom:5px"></div>
                  <div class="col-12">
                    <div class="card inputDocValue-cont">
                      <div class="card-body" id="inputDocValue"></div>
                  </div>
                </div>
                <div class="col-12" id="sendQ-container" >
                  <button class="btn btn-primary questBtnSend">Invia</button>
                </div>
              </div>
              `
            );
            $("#documenti").on("change", function () {
              let files = $(this).prop("files");
              $(".single").remove();
              for (let i = 0; i < files.length; i += 1) {
                $("#inputDocValue").append(
                  `
                  <div class="single">
                    <i class="fas fa-file"></i>&nbsp;&nbsp;${
                      $(this).prop("files")[i].name
                    }
                  </div>
                  `
                );
                if (
                  /pdf|jpg|jpeg|png/.test(
                    $(this).prop("files")[i].name.split(".")[1]
                  )
                ) {
                  $(".inputDocHelp").text("");
                } else {
                  $(".inputDocHelp").text(
                    "Il file deve avere uno dei seguenti formati: pdf,jpg,jpeg,png..."
                  );
                }
              }

              $(".inputDocValue-cont").slideDown(500);
            });

            $(".questBtnSend").on("click", () => {
              while (questuraPrens.length > 0) {
                questuraPrens.pop();
              }
              $(`.prenCheck:checked`).each(function (elem) {
                questuraPrens.push(prenotazioni[$(this).attr("index")]);
              });

              if (questuraPrens.length === 0) {
                $(".inputDocHelp").text(
                  "Devi caricare almeno un file! (pdf,jpg,jpeg,png)"
                );
                return;
              }

              for (
                let i = 0;
                i < $("#documenti").prop("files").length;
                i += 1
              ) {
                if (
                  !/pdf|jpg|jpeg|png/.test(
                    $("#documenti").prop("files")[i].name.split(".")[1]
                  )
                ) {
                  $(".inputDocHelp").text(
                    "Tutti i file devono rispettare i formati indicati! (pdf,jpg,jpeg,png)"
                  );
                  return;
                }
              }

              const formData = new FormData();
              for (
                let i = 0;
                i < $("#documenti").prop("files").length;
                i += 1
              ) {
                formData.append("documenti", $("#documenti").prop("files")[i]);
              }

              formData.append("prenQuestura", JSON.stringify(questuraPrens));
              console.log(formData.getAll("documenti"));
              fetch("/host/questura", {
                method: "POST",
                body: formData,
              })
                .then(async (res) => {
                  const response = await res.json();
                  if (response.success) {
                    window.location.reload();
                  }
                })
                .catch((err) => console.log(err));
            });
          }
        }
      });
    });

    /* ------------------------------------------------- */

    /* CONTATTA UFFICIO DEL TURISMO */
    $("#cittaSelect").on("change", function () {
      $(".rend").remove();
      while (prenPerCitta.length > 0) {
        prenPerCitta.pop();
      }
      prenotazioni.forEach((prenotazione) => {
        if (
          prenotazione.inserzione.citta.toLowerCase() === $(this).val() &&
          prenotazione.stato_prenotazione === 3
        ) {
          prenPerCitta.push(prenotazione);
        }
      });

      fetch("/host/turismo", {
        method: "POST",
        body: JSON.stringify(prenPerCitta),
        headers: { "Content-Type": "application/json" },
      })
        .then(async (res) => {
          const response = await res.json();
          rendiconto = response;
          if (response) {
            console.log(response);
            response.rendiconto.forEach((rend, index) => {
              if (rend.turismoFlag === 0) {
                rend.ospiti.forEach((ospite, index) => {
                  $("#rendiconto").append(
                    `
                  <div class="row rend" style="margin-top:20px">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6 col-md-3">
                              ${ospite.nome}
                            </div>
                            <div class="col-sm-6 col-md-3">
                              ${ospite.cognome}
                            </div>
                            <div class="col-sm-6 col-md-3">
                              ${ospite.data_nascita}
                            </div>
                            <div class="col-sm-6 col-md-3">
                              <i>${
                                ospite.isEsente ? "Esente" : "Non Esente"
                              }</i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  `
                  );

                  if ($(".resBtn").length === 0) {
                    $("#contattaT").append(
                      `
                      <div class="row justify-content-center resBtn">
                        <div class="col-12" id="tatRend">
                          <h3>Totale: ${rendiconto.totaleRendiconto}&euro;</h3>
                        </div>
                        <div
                          class="col-12"
                          id="ricevuta-container"
                        >
                          <label id="ricevuta-upload" class="btn btn-warning">
                            <input
                              type="file"
                              name="Carica"
                              id="ricevuta"
                            />
                            Carica&nbsp;&nbsp;
                          </label>
                        </div>
                        <div class="col-12 text-danger inputRicHelp" style="margin-bottom:5px"></div>
                        <div class="col-12">
                          <div class="card inputValue-cont">
                            <div class="card-body" id="inputValue"></div>
                          </div>
                        </div>
                        <div class="col-12" id="send-container" >
                          <button id="send" class="btn btn-primary">Invia rendiconto</button>
                        </div>
                      </div>
                  `
                    );
                    $("#ricevuta").on("change", function () {
                      $("#inputValue").html(
                        `<i class="fas fa-file"></i>&nbsp;&nbsp;` +
                          $(this).prop("files")[0].name
                      );

                      $(".inputValue-cont").slideDown(500);

                      if (
                        $(this).prop("files")[0].name.split(".")[1] !== "pdf"
                      ) {
                        $(".inputRicHelp").text("Il file deve effere un pdf!");
                      } else {
                        $(".inputRicHelp").text("");
                      }
                    });
                    $("#send").on("click", () => {
                      const formData = new FormData();
                      formData.append(
                        "ricevuta",
                        $("#ricevuta").prop("files")[0]
                      );
                      formData.append("rendiconto", JSON.stringify(rendiconto));

                      if (
                        $("#ricevuta").val() === "" ||
                        $("#ricevuta").val() === null ||
                        $("#ricevuta").prop("files")[0].name.split(".")[1] !==
                          "pdf"
                      ) {
                        $(".inputRicHelp").text("Devi caricare un file pdf!");
                        return;
                      }

                      fetch("/host/turismo/rendiconta", {
                        method: "POST",
                        body: formData,
                      })
                        .then(async (res) => {
                          const response = await res.json();
                          if (response.success) {
                            window.location.reload();
                          }
                        })
                        .catch((err) => console.log(err));
                    });
                  }
                });
              }
            });
          }
        })
        .catch((err) => console.log(err));
    });
    /* ------------------------------------------------- */

    $(window).resize(() => {
      if ($(window).width() < "448") {
        $("#visualizza-tab").text("Visualizza");
        $("#aggiungi-tab").text("Aggiungi");
      } else {
        $("#visualizza-tab").text("Visualizza inserzioni");
        $("#aggiungi-tab").text("Aggiungi inserzione");
      }
      if ($(window).width() < "807") {
        $("#prenotazioni-tab").text("Visualizza");
        $("#contattaQ-tab").text("Questura");
        $("#contattaT-tab").text("Turismo");
      } else {
        $("#prenotazioni-tab").text("Visualizza prenotazioni");
        $("#contattaQ-tab").text("Contatta questura");
        $("#contattaT-tab").text("Contatta ufficio del turismo");
      }
    });
  });
</script>
