<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs", {title: "identify"}) %>
  <body>
    <div id="identify-wrapper">
      <%- include("./partials/nav.ejs") %>
      <div id="identify-content">
        <div class="side"></div>
        <div id="center">
          <div id="identify-heading">
            <h1>Identifica gli ospiti</h1>
          </div>
          <div
            class="alert alert-warning"
            role="alert"
            style="margin-top: 10px"
          >
            Gli aventi diritto all'esenzione, tra cui soggetti affetti da
            disabilità, eventuali accompagnatori, bambini di età inferiore a 12
            anni, forze dell'ordine, studenti universitari fuori sede e
            residenti nel comune, non dovranno pagare la tassa regionale.
            <u
              >Eventuali verifiche sulla veridicità di quanto dichiarato
              verranno fatte in presenza dal host della struttura.</u
            >
          </div>
          <div id="content"></div>
        </div>
        <div class="side"></div>
      </div>
      <div id="footer"><%- include("./partials/footer.ejs") %></div>
    </div>
    <%- include("../public/scripts/general-script.ejs") %>
    <!-- IDENTIFY SCRIPT -->
    <%- include("../public/scripts/identify-script.ejs") %>
  </body>
</html>
