<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include("./partials/head.ejs", {title: "Home"}) %>

  <body>
    <!--CUSTOM FONT-->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
    </style>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

    <!-- Info -->
    <%- include("./partials/info.ejs") %>

    <div id="home">
      <div id="home-container">
        <!-- Overlay -->
        <div id="overlay"></div>

        <div class="side-spacer"></div>

        <!-- Content -->
        <div id="home-center-space">
          <div class="center-spacer"></div>

          <div class="center-spacer home-content">
            <div class="center-spacer">
              <h1 id="home-title">
                <strong>Un'esperienza incredibile</strong>
              </h1>
            </div>
            <div class="center-spacer">
              <%- include("./partials/searchBox.ejs") %>
            </div>
          </div>

          <div class="center-spacer"></div>
        </div>

        <div class="side-spacer"></div>
      </div>

      <div class="footer">
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
      </div>
    </div>
  </body>
</html>
