<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include("./partials/head.ejs", {title: "Home"}) %>

  <body>
    <!--CUSTOM FONT-->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
    </style>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

    <!-- Info -->
    <%- include("./partials/info.ejs") %>

    <div id="home">
      <div id="home-container">
        <!-- Overlay -->
        <div id="overlay"></div>

        <div class="side-spacer"></div>

        <!-- Content -->
        <div id="home-center-space">
          <div class="center-spacer"></div>

          <div class="center-spacer home-content">
            <div class="center-spacer">
              <h1 id="home-title">
                <strong>Un'esperienza incredibile</strong>
              </h1>
            </div>
            <div class="center-spacer">
              <%- include("./partials/searchBox.ejs") %>
            </div>
          </div>

          <div class="center-spacer"></div>
        </div>

        <div class="side-spacer"></div>
      </div>

      <div class="footer">
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
      </div>
    </div>

    <script>
      // Il metodo ready fa si che lo script venga eseguito solo
      // quando il browser ha terminato il parsing della pagina.
      $(document).ready(() => {
        // Azzero i campi del form al riavvio della pagina
        $("input").val("");

        // filter button color
        $("#filter-btn > img").attr("src", "assets/icons/add-white.png");

        // Seleziono un'immagine casuale per lo sfondo
        $("#home-container").css(
          "background-image",
          `url("/assets/images/homePage${
            Math.floor(Math.random() * 7) + 1
          }.jpg")`
        );

        // Nascondo l'infobox al caricamento della pagina
        $(".jumbotron").hide(0);

        // Mostro l'infobox con un'animazione di 1s
        $(".jumbotron").slideDown(1000);

        // Se desiderato, l'utente può chiudere l'infobox
        // cliccando sulla croce in alto. Animazione di 1s
        $("button.close").on("click", () => {
          $(".jumbotron").slideUp(1000);
        });

        // datepicker logic
        $("#check-in").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        $("#check-out").datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
        });

        // Filter button animation
        $("#filter-btn").on("click", () => {
          if ($("#filter-btn > img").hasClass("rotate-right")) {
            $("#filter-btn > img").removeClass("rotate-right");
          } else {
            $("#filter-btn > img").addClass("rotate-right");
          }
        });

        // Metodo di ricerca sul submit del form
        $(".search-form").on("submit", (e) => {
          e.preventDefault();

          try {
            // Memorizzo i parametri del form in apposite variabili
            const citta = $("#location").val();
            const checkin = $("#check-in").val();
            const checkout = $("#check-out").val();
            const nospiti = $("#guestNum").val();

            // Reindirizzo alla pagina di ricerca, passando una query
            // nel URL con tutti i relativi parametri di ricerca
            window.location.href = `/search?citta=${citta}&checkin=${checkin}&checkout=${checkout}&nospiti=${nospiti}`;
          } catch (e) {
            console.log(e);
          }
        });
      });
    </script>
  </body>
</html>
