<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", {title: "Riepilogo"}) %>
  <body>
    <!-- MODAL -->
    <%- include("./partials/messaggio-successo-errore.ejs"); %>
    <!-- NAVBAR -->
    <%- include("./partials/barraDiNavigazione.ejs") %>
    <div class="container" id="invoice">
      <a
        href="#confirm-btn"
        class="btn btn-primary confirm"
        data-html2canvas-ignore="true"
        >Conferma</a
      >
      <div class="row logo-print logo-top">
        <div class="col-12">
          <img src="/assets/images/logo-xs.jpg" alt="AIR - BDBA" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="alert alert-danger alert-print">
            <p class="text-justify">
              Si ricorda che in fase di check in, presso la struttura turistica,
              dovrà essere pagata una quota aggiuntiva relativa alla tassa di
              soggiorno. Gli esenti si potranno astenere al pagamento
              <u
                >presentando un certificato che attesti la veridicità di quanto
                dichiarato</u
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="row heading">
        <div class="col-12">
          <h1><b>Riepilogo</b></h1>
        </div>
      </div>
      <div class="row riepilogo justify-content-center align-items-stretch">
        <div class="col-10 content" id="to-print">
          <div class="row">
            <div class="col-12">
              <h4>Inserzione</h4>
              <br />
            </div>
            <div class="col-md-12 col-lg-4">
              <p>
                <b
                  ><%= inserzione.nome_inserzione[0].toUpperCase() +
                  inserzione.nome_inserzione.slice(1) %></b
                >,
                <br />
                <i
                  ><%= inserzione.citta[0].toUpperCase() +
                  inserzione.citta.slice(1) %> (<%=
                  (inserzione.citta.slice(0,2)).toUpperCase() %>)</i
                >,
                <!-- VIA DA INSERIRE -->
                <br />
                <%= inserzione.indirizzo %>
                <br />
                <%= inserzione.prezzo_base %> &euro; x notte
              </p>
            </div>
            <div class="col-md-12 col-lg-8">
              <p class="text-justify"><%= inserzione.descrizione %></p>
            </div>
          </div>
          <div class="row">
            <div class="alert alert-danger alert-normal" style="width: 100%">
              <p class="text-justify">
                Si ricorda che in fase di check in, presso la struttura
                turistica, dovrà essere pagata una quota aggiuntiva relativa
                alla tassa di soggiorno. Gli esenti si potranno astenere al
                pagamento
                <u
                  >presentando un certificato che attesti la veridicità di
                  quanto dichiarato</u
                >.
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12">
              <h4>Prenotazione</h4>
              <br />
            </div>
          </div>
          <div class="row align-items-stretch">
            <div class="col-md-12 col-lg-6 prenotazione">
              <div class="row">
                <div class="col-md-12">
                  <p class="pren">
                    <br />
                    &#8614; Check in &bullet; <%= prenotazione.check_in %>
                    <br />
                    &#8614; Check out &bullet; <%= prenotazione.check_out %>
                  </p>
                </div>
                <div class="col-md-12 metodo-p">
                  <div class="row">
                    <div class="col">
                      <b>Metodo pagamento:</b>
                    </div>
                  </div>
                  <% if (metodo_pagamento) { %>
                  <div class="row">
                    <div class="col">
                      <%= metodo_pagamento.nome_circuito[0].toUpperCase() +
                      metodo_pagamento.nome_circuito.slice(1) %> &nbsp; ****
                      **** **** <%= metodo_pagamento.codice_carta.slice(12) %>
                      <br /><br />
                    </div>
                  </div>
                  <% } else { %>
                  <div class="row">
                    <div class="col">
                      <p class="text-justify">
                        Pagamento presso la struttura turistica.
                      </p>
                      <br /><br />
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="card sumup-card">
                <div class="card-body sumup">
                  <div class="row">
                    <div class="col">Notti</div>
                    <div
                      id="notti"
                      class="col values"
                      style="text-align: end"
                    ></div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col">Servizio</div>
                    <div class="col values" style="text-align: end">7%</div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col">IVA</div>
                    <div class="col values" style="text-align: end">10%</div>
                  </div>
                </div>
                <div class="card-footer sumup-footer">
                  <div class="row">
                    <div class="col">Totale</div>
                    <div class="col values" id="tot" style="text-align: end">
                      <%= Number(prenotazione.prezzo_finale).toFixed(2) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="alert alert-danger alert-print">
            <p class="text-justify">
              Si ricorda che in fase di check in, presso la struttura turistica,
              dovrà essere pagata una quota aggiuntiva relativa alla tassa di
              soggiorno. Gli esenti si potranno astenere al pagamento
              <u
                >presentando un certificato che attesti la veridicità di quanto
                dichiarato</u
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="book row">
        <div class="col-12 book-btn-container">
          <button
            class="btn btn-primary"
            id="confirm-btn"
            data-html2canvas-ignore="true"
          >
            Prenota
          </button>
        </div>
      </div>
      <div class="row logo-print">
        <div class="col-12">
          <img src="/assets/images/logo-xs.jpg" alt="AIR - BDBA" />
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>

    <!-- GENERAL SCRIPT -->
    <%- include("../public/scripts/general-script.ejs") %>
    <!-- RIEPILOGO SCRIPT -->
    <%- include("../public/scripts/riepilogo-script.ejs") %>
  </body>
</html>
