<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", {title: "Pagamento"}) %>
  <!-- IMPORTO LA LISTA DEI METODI DI PAGAMENTO -->

  <body>
    <div id="payment-wrapper">
      <%- include("./partials/barraDiNavigazione.ejs") %>

      <div id="payment-content">
        <div class="side"></div>
        <div id="center">
          <div class="card" id="paga-adesso">
            <div class="card-header">
              <h3>Paga adesso</h3>
            </div>
            <div class="card-body pay-body">
              <div id="pay-info-container">
                <p id="pay-info">
                  Inserisci i tuoi dati di pagamento o utilizza il tuo metodo di
                  pagamento predefinito per <u>pagare tutto subito!</u> Non ci
                  saranno spese aggiuntive e potrai goderti un viaggio senza
                  pensieri.
                </p>
              </div>
            </div>
            <div class="card-footer pay-footer">
              <button id="pay-btn" class="btn btn-primary">Paga</button>
            </div>
          </div>
          <div class="card" id="paga-loco">
            <div class="card-header">
              <h3>Paga in loco</h3>
            </div>
            <div class="card-body place-body">
              <p id="place-info">
                <u>Paga tutto sul posto!</u> All'arrivo nella struttura salderai
                il conto con il proprietario di casa.
              </p>
            </div>
            <div class="card-footer paga-loco-btn">
              <button id="book-btn" class="btn btn-primary">Prenota</button>
            </div>
          </div>
        </div>
        <div class="side"></div>
      </div>
      <div id="footer"><%- include("./partials/footer.ejs") %></div>
    </div>
    <!-- GENERAL SCRIPT -->
    <%- include("../public/scripts/general-script.ejs") %>
    <!-- PAGAMENTO SCRIPT -->
    <%- include("../public/scripts/pagamento-script.ejs") %>
  </body>
</html>
