<!DOCTYPE html>
<html>
  <%- include("./partials/head", {title: "Ricerca"}) %>
  <body>
    <div id="search-wrapper">
      <%- include("./partials/barraDiNavigazione.ejs") %>
      <div id="search-content">
        <div class="side"></div>
        <div id="center">
          <%- include("./partials/riquadroDiRicerca.ejs") %>
          <div id="content"></div>
        </div>
        <div class="side"></div>
      </div>
      <div id="footer"><%- include("./partials/footer.ejs") %></div>
    </div>
    <!-- GENERAL SCRIPT -->
    <%- include("../public/scripts/general-script.ejs") %>
    <!-- SEARCH SCRIPT -->
    <%- include("../public/scripts/ricerca-script.ejs") %>
  </body>
</html>
