<!DOCTYPE html>
<html>
  <%- include("./partials/head", {title: "Search"}) %>
  <body>
    <div id="search-wrapper">
      <%- include("./partials/nav.ejs") %>
      <div id="search-content">
        <div class="side"></div>
        <div id="center">
          <%- include("./partials/searchBox.ejs") %>
          <div id="content"></div>
        </div>
        <div class="side"></div>
      </div>
      <div id="footer"><%- include("./partials/footer.ejs") %></div>
    </div>
    <%- include("../public/scripts/general-script.ejs") %>
  </body>
</html>

<!-- 
  /uploads/fotoInserzione/1/
 -->
