<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include("./partials/head.ejs", {style: "style.css", title: "Profile"}) %> 

  <body>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

    <div id="profile">
      <div id="profile-container">
        <div class="side-spacer"></div>

        <div id="middle-space">
          <div id="profile-nav">
            <div class="card profile-nav">
              <div class="card-body">
                <div class="card-item presentation">
                  <div id="profile-pic">
                    <img class="rounded-circle z-depth-2" alt="profileImage" src="/assets/images/profile_pics/profile-placeholder.png" width="100" height="100">
                  </div>
                  <div id="name-surname">
                    <h4><%= user.nome + " " + user.cognome %></h4>
                  </div>
                  
                </div>
                
                <div class="card-item">
                  <!-- NAV -->
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profilo</a>
                    <a class="nav-link" id="v-pills-modifica-password-tab" data-toggle="pill" href="#v-pills-modifica-password" role="tab" aria-controls="v-pills-modifica-password" aria-selected="false">Modifica password</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div id="overview">
            <div class="card card-overview">
              <div class="card-body">
                <div class="tab-content card-overview-content" id="v-pills-tabContent">
                  <!-- PROFILE -->
                  <div class="tab-pane fade show active profile-container" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div style="text-align: center;"><h2>Profilo</h2></div>
                    <form action="">
                      <div class="field-container">
                        <input type="text" disabled id="nome" class="form-control">
                        <span class="nomeHelp text-danger"></span>
                      </div>
                      <div class="field-container">
                        <input type="text" disabled id="cognome" class="form-control">
                        <span class="cognomeHelp text-danger"></span>
                      </div>
                      <div class="field-container">
                        <input type="text" disabled id="email" class="form-control">
                        <span class="emailHelp text-danger"></span>
                      </div>
                      
                      <div class="buttons mod">
                        <button type="button" class="btn btn-primary" id="modifica">Modifica</button>
                        <button type="button" class="btn btn-primary donotdisplay" id="salva-mod">Salva</button>
                        <button type="button" class="btn btn-primary donotdisplay" id="annulla">Annulla</button>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="v-pills-modifica-password" role="tabpanel" aria-labelledby="v-pills-modifica-password-tab">

                  </div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, optio officiis. A eaque soluta quam laudantium quod perferendis, exercitationem nemo ad, rerum et earum necessitatibus ipsum dolores reprehenderit mollitia est?</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="side-spacer"></div>
      </div>
      <div id="footer">
        <!-- FOOTER -->
        <%- include('./partials/footer.ejs') %> 
      </div>
    </div>

    <script>
      $(document).ready( () => {

        /* PROFILO */
        // salvo le informazioni attuali
        const user = {};
        user.nome = "<%= user.nome %>";
        user.cognome = "<%= user.cognome %>";
        user.email = "<%= user.email %>";

        // al refresh della pagina resetto i campi
        $("input").each((index, element) => {
          $(element).attr("disabled", true);
          $(element).val(user[$(element).attr("id")])
        });
        
        // modifico la navbar eliminando l'opzione profilo
        // ridondante in quanto riporta alla stessa pagina
        // e la sostituisco con l'opzione "Home"
        $("#profile").attr("href", "/").text("Home");

        // inserisco nome, cognome e email
        $("#nome").attr("value", nome);
        $("#cognome").attr("value", cognome);
        $("#email").attr("value", email);

        // metodi pulsanti schermata profilo
        // variabili del form
        const $input = $("input");
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        // controllo campi vuoti
        $input.each( (index, element) => { 
          $( element ).on("focusout input", () => {
            if($( element ).val() === "") {
              $( element ).addClass("is-invalid");
              $(`.${$(element).attr("id")}Help`).text("Riempi il campo!");
            } else {
              $( element ).removeClass("is-invalid");
              $(`.${$(element).attr("id")}`).text("");
            }
          });
        });

        // controllo mail
        $("#email").on("focusout input", () => {
          if($("#email").val() === "") {
            $("#email").removeClass("is-valid");
            $("#email").addClass("is-invalid");
            $(".emailHelp").text("Inserisci una mail!");
          } else {
            if( re.test($("#email").val()) ) {
              $("#email").removeClass("is-invalid");
              $("#email").addClass("is-valid");
              $(".emailHelp").text("");
            } else {
              $("#email").removeClass("is-valid");
              $("#email").addClass("is-invalid");
              $(".emailHelp").text("Formato email errata");
            }
          }
        });

        // modifica
        $("#modifica").on("click", (e) => {
          e.preventDefault();
          
          // abilito i campi
          $input.attr("disabled", false);

          // inverto i tasti
          $("#salva-mod, #annulla").removeClass("donotdisplay");
          $("#modifica").addClass("donotdisplay");
        });

        // annulla
        $("#annulla").on("click", (e) => {
          e.preventDefault();

          // resetto i campi
          $("#nome").val(user.nome);
          $("#cognome").val(user.cognome);
          $("#email").val(user.email);
          $("input").removeClass("is-valid");
          $("input").removeClass("is-invalid");
          $("span").text("");

          // disabilito i campi
          $input.attr("disabled", true);

          // inverto i campi
          $("#salva-mod, #annulla").addClass("donotdisplay");
          $("#modifica").removeClass("donotdisplay");
        });

        // salva
        $("#salva-mod").on("click", (e) => {
          e.preventDefault();

          // controllo sui campi vuoti o errati
          // in queste circostanze l'evento submit
          // viene fermato
          let flag = true;

          $("input").each( (index, element) => {
            if( $( element ).attr("class").includes("is-invalid") || $( element ).val() === "" ) {
              flag = false;
              return;
            }
          });

          if (!flag) {
            return;
          }
          // ---------------------------


        });
        /* --------------------------- */

      });
    </script>
  </body>
</html>
